# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
instance/
.mypy_cache/
.pytest_cache/

# Build/coverage
htmlcov/
.coverage

# OS
.DS_Store

# Node (if you add tailwind toolchain)
node_modules/
dist/
